game
anura
server
test
.DS_Store
a.out
*~
*.kate-swp
*.sublime-workspace
*.sublime-project
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.db
*.odt#
.*.swp
dirs.txt
/core
/core.*
compiled-*
tiles-compiled-*

compiled/
modules/*
!modules/hex
!modules/icons
!modules/iso
!modules/lib_2d
!modules/phydemo
!modules/projection_test

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# compiler dependency tracking
*.d

# Executables
*.exe
*.out
*.app

# msvc files we definitely do not want
*.sdf
*.tlog
*.pdb
*.log
*.idb
*.ilk
*.lastbuildstate
*.suo
*.user
*.unsuccessfulbuild
*.opensdf

log.txt

qt
android-project
sdk
