# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
anura

# Dependency files
*.d

# msvc files we definitely do not want
*.sdf
*.tlog
*.pdb
*.log
*.idb
*.ilk
*.lastbuildstate
*.suo
*.user
*.unsuccessfulbuild
*.opensdf
*.def
#*.exp
Box2D.lib
lua.lib
!vs2013

# exclude any temporary files.
*.pb.cc
*.pb.h

# random stuff
.DS_Store
db.json
stderr_server.txt
stdout_server.txt
*~
*.kate-swp
*.sublime-workspace
*.sublime-project
.sconsign.dblite
.scons-option-cache
.directory
*.db
*.odt#
.*.swp
/core
/core.*
compiled-*
tiles-compiled-*
compiled/
modules/*
!modules/icons
!modules/lib_2d

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace
sdk/
build-x64/
build-Win32/
