game
anura
server
test
.DS_Store
*.o
*.a
a.out
*~
*.kate-swp
*.sublime-workspace
*.sublime-project
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.db
*.odt#
.*.swp
dirs.txt
/core
/core.*
*.exe
*.d
compiled-*
tiles-compiled-*

compiled/
modules/*
!modules/hex
!modules/icons
!modules/iso
!modules/lib_2d
!modules/phydemo
!modules/projection_test

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace

Device-Debug
Device-Release
vs2012/lobby/Debug
vs2012/lobby/Release
vs2012/lobby/ipch
vs2012/lobby/lobby.sdf
vs2012/anura/anura.sdf
vs2012/anura/anura.opensdf
vs2012/anura/Win32
vs2012/anura/Debug
vs2012/anura/Release
vs2012/lua

src/Box2D

log.txt

qt
android-project