name: Smoketest / Informative / Debian
on:
  pull_request:
  merge_group:

jobs:
  test:
    name: Compilers
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        debian:
          # Bullseye is the oldest Debian with a new enough glm
          - "bullseye" # 11
          - "bookworm" # 12
          - "trixie" # 13
        compiler:
          - g++
          - clang
    container: debian:${{ matrix.debian }}-slim
    steps:
      - name: Install Dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt-get -qq update
          apt-get -qq upgrade -y
          apt-get -qq install -y --no-install-recommends \
            ca-certificates \
            git \
            ${{ matrix.compiler }} \
            libboost-dev \
            libboost-filesystem-dev \
            libboost-locale-dev \
            libboost-regex-dev \
            libboost-system-dev \
            libcairo2-dev \
            libglew-dev \
            libglm-dev \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libvorbis-dev \
            make

      - name: Checkout Anura
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          submodules: true

      - name: Build Anura
        env:
          CXX: ${{ matrix.compiler }}
        # Number of cores * 3
        run: make -j "$(($(getconf _NPROCESSORS_ONLN) * 3))"

      - name: Run Unit Tests
        run: ./anura --tests
