name: Smoketest / Informative / openSUSE Leap
on:
  pull_request:

jobs:
  test:
    name: Compilers
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        suse:
          # 15.4 is the oldest openSUSE Leap with a new enough clang
          - "15.4"
          - "15.5"
          - "15.6"
          # 15.7 is expected in 2025-06
          # 15.8 is expected in 2026-06
        compiler:
          - g++
          - clang++
        build-type:
          - Release
          - Debug
    container: opensuse/leap:${{ matrix.suse }}
    steps:
      - name: Install Dependencies
        run: |
          zypper -q --non-interactive update
          zypper -q --non-interactive install \
            tar \
            gzip \
            git \
            gcc-c++ \
            clang \
            llvm-gold-provider \
            cmake \
            make \
            ccache \
            libboost_filesystem-devel \
            libboost_locale-devel \
            libboost_regex-devel \
            libboost_system-devel \
            cairo-devel \
            glew-devel \
            glm-devel \
            boost-devel \
            libicu-devel \
            libSDL2_image-devel \
            libSDL2_mixer-devel \
            libSDL2_ttf-devel \
            libSDL2-devel \
            libvorbis-devel \
            libjack

      - name: Checkout Anura
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
            submodules: true

      - name: Set ccache up
        uses: hendrikmuhs/ccache-action@ed74d11c0b343532753ecead8a951bb09bb34bc9 # v1.2.14
        with:
          key: ${{ github.job }}-opensuse-leap-${{ matrix.suse }}-${{ matrix.compiler }}-${{ matrix.build-type }}

      - name: Build Prep Anura
        run: |
          cmake . \
          -D CMAKE_CXX_COMPILER="${{ matrix.compiler }}" \
          -D CMAKE_BUILD_TYPE="${{ matrix.build-type }}"

      - name: Build Anura
        run: |
          # Compile with number of available hyperthreads
          make -j "$(getconf _NPROCESSORS_ONLN)"

      - name: Run Unit Tests
        run: ./anura --tests
